 <div class="row g-4">
   <p>{{Filtervalue}}</p>
    @for (product of productFilter; track product.id) {
    <div  class="col-md-3">
      <div  class="card h-100  position-relative">

        <!-- Badge Quantity -->
        @switch (product.quantity) {
        @case (0) {
        <span class="badge bg-danger position-absolute top-0 start-0 m-2">Out of Stock</span>
        }
        @case (1) {
        <span class="badge bg-warning text-dark position-absolute top-0 start-0 m-2">Last One Item</span>
        }
        @case (2) {
        <span class="badge bg-warning text-dark position-absolute top-0 start-0 m-2">Last Two Items</span>
        }
        @default {
        <span class="badge bg-success position-absolute top-0 start-0 m-2">In Stock</span>
        }
        }

        <img [src]="product.imageUrl" class="card-img-top rounded-top" alt="">

        <div  class="card-body d-flex flex-column">
          <!-- <h5 class="card-title" [ngClass]="{ 'bg-warning': product.quantity === 1 }" >{{ product.name }}</h5> -->
          <!-- <h5 class="card-title" [ngStyle]="{ 'background-color': product.quantity === 1 ? 'yellow' : '' }">{{ product.name }}</h5> -->
         <h5 class="card-title" [style.background-color]="product.quantity === 1 ? 'white' : ''">{{ product.name }}</h5>
          <p class="card-text text-truncate" title="{{ product.description }}">
            {{ product.description }}
          </p>
         <p class="fw-bold mt-auto">Quantity: {{ product.quantity }}</p>
          <p class="fw-bold mt-auto">Price: {{ product.price |currency  }}</p>

        </div>

        <div class="card-footer bg-white border-0 text-center">
          <button class="btn btn-primary w-100" [disabled]="product.quantity === 0" (click)="addToCart(product)">
            <i class="bi bi-cart fs-5 me-1"></i> Add to Cart
          </button>
        
          <a class="btn btn-outline-primary w-100 mt-2" [routerLink]="['/products', product.id]">
            <i class="bi bi-info-circle fs-5 me-1"></i> View Details
          </a>
        </div>

      </div>
    </div>
    }

  </div>
